
body{
	padding-left: 30px;
	padding-right: 30px;
	background-color: #FDFD96;
	text-align: center;
}

h1{

	font-family: 'Henny Penny', cursive;
	font-size: 55px;
	background-color: #A6D609;
}

.text{
	font-family: 'Gluten';
	font-size: 30px;
}

#data{
	font-size: 50px;
	font-family: 'Gluten';
}












