body {

	background-color: #FF2E2E;
	color: #FFFF00;
	padding-left: 20px;

}

h1{

	font-size: 50px;
	font-family: "Oswald";

}

h2 {

	font-size: 40px;
	font-family: "Oswald";
}

.content {

	font-size: 30px;
	margin-bottom: -10px;
	padding: 15px;
	font-family: "Roboto Mono";

}

.row {
  display: flex;
}

.column {
  flex: 50%;
}