@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cooper Black');


body{

	padding-left:  30px;
	background-color: #CCFF00;

}

}
#bar {
	font-size: 50px;
	padding-bottom: 20px;
	display: block;
	font-weight: 100;
	font-family: 'Cooper Black';
	color: #004EFF;
}

#string {
	display: block;
	font-size: 15px;
	font-family: 'Cooper Black';
	color: #FF10F0;
}

#data {
	font-family: 'Cooper Black';
	display: block;
	font-size: 20px;
	color: #004EFF;
}

